<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="layaout/plantilla :: head">
    <title>Inicio</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header th:replace="layaout/plantilla :: header" />
    <section th:replace="layaout/botonesAgregar :: botonesAgregar" />
    <section th:replace="layaout/agregarCliente :: agregarCliente" />
    <section th:replace="layaout/listadoClientes :: listadoClientes" />
    <footer th:replace="layaout/plantilla :: footer" />
  </body>
</html>
