<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="layaout/plantilla :: head">
    <title>Datos de la Persona</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header th:replace="layaout/plantilla :: header" />
    <section th:replace="layaout/editarCliente :: editarCliente"/>
    <footer th:replace="layaout/plantilla :: footer" />
<!--     <header th:replace="layout/plantilla :: header"></header>
    <section th:replace="layout/editarCliente :: editarCliente"></section>
    <footer th:replace="layout/plantilla :: footer"></footer> -->
  </body>
</html>
