<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plantilla</title>
</head>
<body>
  <header th:fragment="header">
    <h1 th:text="#{plantilla.titulo}"></h1>
  </header>
  <footer th:fragment="footer">
    <p>[[#{plantilla.pie-pagina}]]&#169</p>

    <form th:action="@{/logout}" method="post">
      <a href="#" onclick="this.parentNode.submit();">Logout</a>
      <strong>User: </strong> <span sec:authentication="name">Usuario que hizo login</span> |
      <strong>Roles: </strong> <span sec:authentication="principal.authorities">Roles/span> |
    </form>
  </footer>
</body>
</html>